[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.14"
#pip file was created progammatically by using terminal command: pipenv install
