<nav class="navbar">
    <ul class="nav-links">
        <li>
            <a href="{{ url_for('main_page') }}" 
               class="{{ 'active' if request.path == url_for('main_page') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('about_page') }}" 
               class="{{ 'active' if request.path == url_for('about_page') }}">About</a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}" 
               class="{{ 'active' if request.path == url_for('contact') }}">Contact</a>
        </li>
        <li>
            <a href="{{ url_for('signin') }}" 
               class="{{ 'active' if request.path == url_for('signin') }}">Sign In</a>
        </li>
    </ul>
</nav>