<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 40px;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.1em;
      line-height: 1.6;
    }
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <h1>About</h1>
  <p>
    This custom project is to demonstrate my abilities to learn and impliment programming principles. This project was started on April 4th of 2026. The tools used are as follows:
  </p>
  <ul>
  	<li>Python</li>
  	<li>Flask</li>
  	<li>HTML</li>
  	<li>CSS</li>
  </ul>
  <p>
  	You can visit my Github page to view more projects done by me over the years.
  </p>
  <a href="https://github.com/Mordon327" target="_blank">Github Profile</a>
</body>
</html>