<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<header>
  <ul class="topnav">
        <li><div class="headerstyle flex-container"><a href="/">Home</a></div></li>
        <li><div class="headerstyle flex-container"><a href="/about">About</a></div></li>
        <li><div class="headerstyle flex-container"><a href="#">Services</a></div></li>
        <li><div class="headerstyle flex-container"><a href="/contact">Contact</a></div></li>
      </ul>
</header>
<body>
  <div>
    <h1>About</h1>
      <p>
    This custom project is to demonstrate my abilities to learn and impliment programming principles. This project was started on April 4th of 2026. The tools used are as follows:
  </p>
    <a href="/hello">Click me</a>
  </div>
</body>
</html>