<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<header>
  {% include "/_navigationPage.html" %}
</header>
<body>
  <div>
    <h1>Welcome</h1>
    <p>
      This portfolio demonstrates a few things that I've learned over the years that I've been programming. This site is and always be a work in progress. Feel free to browse the site and play with the tools that I've created. I built this site using Flask, Python and SQLite3. Over the years I've used many tools to build automation processes and sites for the companies that I've worked with. Click <a href="/about" style="font-weight: bold;">here</a> to learn more about the projects that I've worked on and the tools that I used.
    </p>
  </div>
</body>
</html>