<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<header>
  <ul class="topnav">
        <li><div class="headerstyle flex-container"><a href="/">Home</a></div></li>
        <li><div class="headerstyle flex-container"><a href="/about">About</a></div></li>
        <li><div class="headerstyle flex-container"><a href="/signin">Sign In</a></div></li>
        <li><div class="headerstyle flex-container"><a href="/contact">Contact</a></div></li>
      </ul>
</header>
<body>
  <div>
    <h1>About</h1>
      <p>
    {{results[0][0]}}
  </p>
    <a href="/hello">Click me</a>
  </div>
      <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <!-- Access tuple elements by index -->
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>